/* GLOBAL */
* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



/* ALL PAGES */
header {
	z-index: 10;
	position: relative;
	width: 100%;
	height: 150px;
	padding-top: 40px;
	background-color: rgb(65, 175, 215);
	text-align: center;
	font-size: 1.5em;
	color: white;
	text-shadow: 0 0 20px rgb(15, 60, 100);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}
.column {
	float: left;
	height: calc(100% - 150px);
}
#navColumn {
	position: relative;
	width: 20%;
}
#navColumn ul {
	width: 100%;
}
#navColumn li {
	padding: 10px;
	width: 100%;
	background-color: rgb(215, 215, 215);
}
#navColumn li:nth-child(even) {
	background-color: rgb(225, 225, 225);
}
#navColumn li:hover {
	cursor: pointer;
}
#navColumn a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
#chatWindow {
	height: 100%;
	background-color: rgb(230, 230, 230);
	padding: 10px;
	overflow: scroll;
}
#chatWindow p {
	background-color: white;
	padding: 10px;
	border-radius: 1em;
	width: 100%;
	word-wrap: break-word;
}
#chatInput {
	position: fixed;
	bottom: 0;
	width: 20%;
	height: 100px;
}



/* ACCOUNT PAGE */
#userInfo {
	width: 80%;
	padding: 20px;
	padding-left: 30px;
	background-color: rgb(250, 250, 250);
	position: relative;
	z-index: 1;
	box-shadow: 0 0 25px rgb(200, 200, 200);
}



/* GAME PAGE */
canvas {
	border: 1px solid black;
	background-image: url("img/background.png");
	background-size: cover;
}
#canvasContainer {
	width: 100%;
	text-align: center;
}
#serverInfo {
	margin: 20px;
	text-align: center;
}